nvim/lazy
nvim/lua/plugins
nvim/lua/default_theme
nvim/colors/default_theme.lua
nvim/docs
nvim/ginit.vim
nvim/lua/packer_compiled.lua
nvim/lua/user_example
nvim/plugin
nvim/ftplugin
nvim/spell
nvim/.github
nvim/.gitignore
nvim/.stylua.toml
nvim/LICENSE
nvim/config.ld
nvim/packer_snapshot
nvim/.luacheckrc
waybar/config
systemd/default.target.wants
