.config/vim/abbreviations
.config/nvim/lazy
.config/nvim/lua/plugins
.config/nvim/lua/default_theme
.config/nvim/colors/default_theme.lua
.config/nvim/docs
.config/nvim/ginit.vim
.config/nvim/lua/packer_compiled.lua
.config/nvim/lua/user_example
.config/nvim/plugin
.config/nvim/ftplugin
.config/nvim/spell
.config/nvim/.github
.config/nvim/.gitignore
.config/nvim/.stylua.toml
.config/nvim/LICENSE
.config/nvim/config.ld
.config/nvim/packer_snapshot
.config/nvim/.luacheckrc
.config/waybar/config
systemd/default.target.wants
