[Unit]
Description=Sway window transparency daemon
PartOf=graphical-session.target
After=sway.service

[Service]
Type=simple
ExecStart=/var/home/jpm/scripts/sway/sway-transparency.py
Environment=PYENV_ROOT=/var/home/jpm/.pyenv
#Restart=unless-stopped
TimeoutSec=5

[Install]
WantedBy=default.target
#Requires=dbus.service
#After=dbus.service
