@import "../waybar/softwarm.css";

/* Notifications in popout sidebar */

.notification-row {
  font-family: "Anonymice Nerd Font";
  transition: all 200ms ease;
  outline: none;
  margin: 0px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  border-radius: 0px;
  background: @red;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
  opacity: 1;
  margin: -10px 0px;
  box-shadow: none;
}

.notification {
  transition: all 200ms ease;
  margin: 0px 5px 10px 5px;
  padding: 0px;
  border-radius: 0px;
}

.low {
  background: @yellow;
}

.critical {
  background: @red;
}

.notification-content {
  border-radius: 0px;
}

.close-button {
  background: @red;
  color: @bright_fg;
  text-shadow: none;
  padding: 0px;
  border-radius: 100%;
  margin-top: 17px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @bright_red;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  margin: 0px;
  background: @bright_bg;
  border: 1px solid @fg;
  box-shadow: inset 2px 2px @bg, inset -2px -2px @bg;
  color: @bright_fg;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  box-shadow: inset 2px 2px @bed, inset -2px -2px @red;
  border: 1px solid @bright_red;
}

.notification-default-action.normal,
.notification-action.normal {
  color: @red;
}

.notification-default-action:hover,
.notification-action:hover {
}

.notification-default-action {
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
}

.notification-action {
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
}

.notification-action:last-child {
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: @bright_fg;
}

.summary {
  font-family: "Anonymice Nerd Font";
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @bright_fg;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @bright_fg;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @bright_fg;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @bright_fg;
  text-shadow: none;
}

.control-center-clear-all {
  color: @bright_fg;
  text-shadow: none;
  background: @red;
  border: 1px solid @bright_fg;
  box-shadow: none;
}

.control-center-clear-all:hover {
  background: @red;
}

.control-center-dnd {
  background: @red;
  border: 1px solid @bright_fg;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @green;
}

.control-center-dnd slider {
  background: @red;
}

.control-center {
  background: @bg;
  background-clip: border-box;
  border-radius: 0px;
  padding: 4px;
  color: @bright_fg;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  font-family: "Anonymice Nerd Font";
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  font-size: 1.5rem;
  color: @fg;
}

.widget-title>button {
  font-size: initial;
  color: @bright_fg;
  text-shadow: none;
  background: @bg;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @bg;
}

/* Menubar widget */

.menubar {
  background: @red;
  margin: 0px;
  padding: 0px;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  background: @_bright_bg;
  border: 1px solid @fg;
  border-radius: 100px;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @red;
}

.widget-dnd>switch slider {
  background: @fg;
  box-shadow: inset 1px 1px @bright_bg, inset -1px 1px @bright_bg, inset 1px -1px @bright_bg, inset -1px -1px @bright_bg;
  border: 1px solid @bright_fg;
}

/* Label widget */
.widget-label {
  color: @fg;
}

.widget-label>label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  margin: 8px;
  background: none;
  background-image: none;
  box-shadow: none;
  border: 10px solid @green;
  color: @bright_bg;
  border-radius: 0px;
}
.widget-mpris-player:paused {
  border: 10px solid @red;
}

.widget-mpris-title,
.widget-mpris-subtitle {
  color: @bg;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.widget-mpris-button {
  margin-top: 200px;
}
