[Unit]
Description=Disable backlight early in the morning

[Timer]
OnCalendar=*-*-* 04:00:00
Unit=disable-kbd-backlight.service

[Install]
WantedBy=user@1000.slice
