[Unit]
Description=Perform Dock behaviour upon UDev event
Conflicts=undock.service

[Service]
Type=oneshot
ExecStart=/var/home/jpm/scripts/sway/dock.sh connect
