[Unit]
Description=Set desired keyboard backlight brightnesss to 2

[Service]
Type=oneshot
ExecStart=/var/home/jpm/scripts/thinkpad/kbd_backlight.pl 2
